.card {
    border: 1px solid grey;
    padding: 0;
    max-width: 10rem;
    margin: 1rem;
    border-radius: 4%;
    box-shadow: .25rem .25rem 20px 10px #ccc;
}

.card-header {
    border-bottom: 1px solid grey;
    padding: 1rem;
}

.card-body {
    padding: 1rem;
    min-height: 5rem;
}